<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/adminNavigation.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1><% if (editing) { %>Update Movie<% } else { %>Add Movie<% } %></h1>
                <form action="/admin/<% if (editing) { %>edit-movie<% } else { %>add-movie<% } %>" id="addMovie" name="addMovie" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <% if (editing) { %>
                            <a href="/admin/add-movie" class="btn btn-outline-danger">Discard</a>
                        <% } %>
                        <button type="submit" class="btn btn-outline-success <% if (editing) { %> offset-8 <% } else { %> offset-10 <% } %>"><% if (editing) { %>Update Movie<% } else { %>Add Movie<% } %></button>
                    </div>
                    <div class="form-group">
                        <label for="movieWatchLink">Movie Watch Link</label>
                        <input type="text" class="form-control" name="movieWatchLink" id="movieWatchLink" placeholder="Movie Watch Link" value="<% if (editing) { %><%= movie.movieWatchLink %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieQuality">Movie Quality</label>
                        <input type="text" class="form-control" name="movieQuality" id="movieQuality" placeholder="Movie Quality" value="<% if (editing) { %><%= movie.movieQuality %><% } %>">
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="LQ">LQ</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="HQ">HQ</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="SD">SD</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="HD">HD</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="Blueray">Blueray</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="4K">4K</button>
                        <button type="button" onclick="qualitycaster(this.id)" class="btn btn-outline-secondary" id="3D">3D</button>
                    </div>
                    <div class="form-group">
                        <label for="movieCategory">Movie Category</label>
                        <input type="text" class="form-control" name="movieCategory" id="movieCategory" placeholder="Movie Category" value="<% if (editing) { %><%= movie.movieCategory %><% } %>">
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Bollywood">Bollywood</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Hollywood">Hollywood</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Tamil">Tamil</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Netflix">Netflix</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Hoichoi">Hoichoi</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Animation">Animation</button>
                        <button type="button" onclick="categorycaster(this.id)" class="btn btn-outline-secondary" id="Foreign">Foreign</button>
                    </div>
                    <div class="form-group">
                        <label for="movieKeywords">Movie Keywords</label>
                        <input type="text" class="form-control" name="movieKeywords" id="movieKeywords" placeholder="Movie Keywords" value="<% if (editing) { %><%= movie.movieKeywords %><% } %>">
                        <button type="button" onclick="clearKeywords()" class="btn btn-outline-warning">Clear</button>
                        <br>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Murder">Murder</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Violence">Violence</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Blood">Blood</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Dead">Dead</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Fight">Fight</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Chase">Chase</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Escape">Escape</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Fear">Fear</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Rescue">Rescue</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Kidnapping">Kidnapping</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Revenge">Revenge</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Betrayal">Betrayal</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Suicide">Suicide</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Survival">Survival</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Danger">Danger</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Suspense">Suspense</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Explosion">Explosion</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Hospital">Hospital</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Dog">Dog</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Nudity">Nudity</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Sex">Sex</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Brutality">Brutality</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Deception">Deception</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Teenager">Teenager</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Massacre">Massacre</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Paranoia">Paranoia</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Surprise">Surprise</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Police">Police</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Doctor">Doctor</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Criminal">Criminal</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Shootout">Shootout</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Conspiracy">Conspiracy</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Money">Money</button>
                        <button type="button" onclick="keywordcaster(this.id)" class="btn btn-outline-secondary" id="Torture">Torture</button>
                    </div>
                    <div class="form-group">
                        <label for="movieTrailer">Movie Trailer</label>
                        <input type="text" class="form-control" name="movieTrailer" id="movieTrailer" placeholder="Movie Trailer" value="<% if (editing) { %><%= movie.movieTrailer %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieTitle">Movie Title</label>
                        <input type="text" class="form-control" name="movieTitle" id="movieTitle" placeholder="Movie Title" value="<% if (editing) { %><%= movie.movieTitle %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieYear">Movie Year</label>
                        <input type="text" class="form-control" name="movieYear" id="movieYear" placeholder="Movie Year" value="<% if (editing) { %><%= movie.movieYear %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieId">Movie Id</label>
                        <input type="text" class="form-control" name="movieId" id="movieId" placeholder="Movie Id" value="<% if (editing) { %><%= movie.movieId %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="tmdbId">TMDB ID</label>
                        <input type="text" class="form-control" name="tmdbId" id="tmdbId" placeholder="Tmdb Id" value="<% if (editing) { %><%= movie.tmdbId %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieRatings">Movie Ratings</label>
                        <input type="text" class="form-control" name="movieRatings" id="movieRatings" placeholder="Movie Ratings" value="<% if (editing) { %><%= movie.movieRatings %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieGenre">Movie Genre</label>
                        <input type="text" class="form-control" name="movieGenre" id="movieGenre" placeholder="Movie Genre" value="<% if (editing) { %><%= movie.movieGenre %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieDate">Movie Date</label>
                        <input type="text" class="form-control" name="movieDate" id="movieDate" placeholder="Movie Date" value="<% if (editing) { %><%= movie.movieDate %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieLang">Movie Language</label>
                        <input type="text" class="form-control" name="movieLang" id="movieLang" placeholder="Movie Language" value="<% if (editing) { %><%= movie.movieLang %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieHomePage">Movie Home Page</label>
                        <input type="text" class="form-control" name="movieHomePage" id="movieHomePage" placeholder="Movie Home Page" value="NA">
                    </div>
                    <div class="form-group">
                        <label for="movieRuntime">Movie Runtime</label>
                        <input type="text" class="form-control" name="movieRuntime" id="movieRuntime" placeholder="Movie Runtime" value="<% if (editing) { %><%= movie.movieRuntime %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieStory">Movie Story</label>
                        <input type="text" class="form-control" name="movieStory" id="movieStory" placeholder="MovieStory" value="<% if (editing) { %><%= movie.movieStory %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="movieSubtitle">Movie Subtitle</label>
                        <input type="text" class="form-control" name="movieSubtitle" id="movieSubtitle" placeholder="Movie Subtitle" value="NA">
                    </div>
                    <div class="form-group">
                        <label for="movieActors">Movie Actors</label>
                        <input type="text" class="form-control" name="movieActors" id="movieActors" placeholder="Movie Actors" value="<% if (editing) { %><%= movie.movieActors %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="moviePoster">Movie Poster</label>
                        <input type="text" class="form-control" name="moviePoster" id="moviePoster" placeholder="Movie Poster" value="<% if (editing) { %><%= movie.moviePoster %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="backdraft">Backdraft</label>
                        <input type="text" class="form-control" name="backdraft" id="backdraft" placeholder="Backdraft" value="<% if (editing) { %><%= movie.backdraft %><% } %>">
                    </div>
                    <div class="form-group">
                        <label for="views">Views</label>
                        <input type="text" class="form-control" name="views" id="views" placeholder="Views" value="0">
                    </div>
                    <div class="form-group">
                        <label for="published">Published</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="published" id="published" value="1" checked>
                            <label class="form-check-label" for="published">Published</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="published" id="unpublished" value="0">
                            <label class="form-check-label" for="unpublished">Unpublished</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="downHit">Down Hit</label>
                        <input type="text" class="form-control" name="downHit" id="downHit" placeholder="Down Hit" value="0">
                    </div>
                    <% if (editing) { %>
                        <input type="hidden" value="<%= movie.id %>" name="mId">
                    <% } %>
                    <div class="form-group">
                        <% if (editing) { %>
                            <a href="/admin/add-movie" class="btn btn-outline-danger">Discard</a>
                        <% } %>
                        <button type="submit" class="btn btn-outline-success <% if (editing) { %> offset-8 <% } else { %> offset-10 <% } %>"><% if (editing) { %>Update Movie<% } else { %>Add Movie<% } %></button>
                    </div>
                </form>
            </div>
            <!-- TMDB & IMDB SEARCH OPTION -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="sName">Name</label>
                    <input type="text" class="form-control" name="sName" id="sName" placeholder="----" value="">
                </div>
                <div class="form-group">
                    <label for="sYear">Year</label>
                    <input type="text" class="form-control" name="sYear" id="sYear" placeholder="----" value="">
                </div>
                <button class="btn btn-outline-dark" onclick="tmdbProvider()">TMDB Search</button>
                <button class="btn btn-outline-dark" onclick="tmdbCopy()">TMDB Copy</button>
                <hr>
                <div class="col-12">
                    <div class="row">
                        <input type="hidden" id="poster_str" value="0">
                        <input type="hidden" id="backdraft_str" value="0">
                        <div id="poster" class="col-2">
                        </div>
                        <div id="backdraft" class="col-6">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12">
                    <!-- from TMDB -->
                    <p>Title: <span id="title"></span></p>
                    <p>Year: <span id="year"></span></p>
                    <p>TMDB Id: <span id="tmdbid"></span></p>
                    <p>Vote:<span id="vote"></span></p>
                    <p>Release Date:<span id="release_date"></span></p>
                    <p>Story: <span id="story"></span></p>
                    <!-- from IMDB -->
                    <p>Genres:<span id="genres"></span></p>
                    <p>length:<span id="runtime"></span></p>
                    <p>IMDB Id: <span id="imdbid"></span></p>
                    <p>Language:<span id="lang"></span></p>
                    <p>Cast:<span id="cast"></span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/admin/addMovie.js"></script>

<%- include('../includes/end.ejs') %>

